* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--primaryColor);
  font-family: var(--primaryFont);
  padding: 0 40px;
}
header {
  padding: 3.2rem 2rem;
}
:root {
  --fgColor: #EFE6DD;
  --primaryColor: #151313;
  --secondaryColor: #6B818C;
  --tertiaryColor: #595959;
  --quaternaryColor: #201D1D;
  --primaryFont: "Montserrat", sans-serif;
}

.title {
  color: var(--fgColor);
  font-weight: 600;
}
.bg-dark {
  background-color: var(--quaternaryColor) !important;
}
.text-light {
  color: var(--fgColor);
}