/*Barra de busqueda*/
.form-control {
  background-color: var(--fgColor);
  color: var(--primaryColor);
  border: none;
  padding: 0.6em 1.2em;
}
.form-control::placeholder {
  color: var(--tertiaryColor);
}
.form-control:focus {
  background-color: var(--fgColor);
  border: none;
  color: var(--primaryColor);
}
.btn-pelicula, .btn-categoria, .btn-duracion {
  background-color: var(--primaryColor);
  border: 1px var(--fgColor) solid;
  color: var(--fgColor);
}
.btn-pelicula:hover, .btn-categoria:hover, .btn-duracion:hover {
  background-color: var(--primaryColor);
  border: 1px var(--fgColor) solid;
  color: var(--fgColor);
}
.btn-pelicula:hover {
   scale: 1.03;
}
.card-text {
  font-weight: 500;
}
.card-title {
  font-weight: 600;
}